<div id="page">
  <h1>Nosso Time</h1>
  <div id="grid-members">
    <!-- Alex -->
    <div id="member">
      <img src="{foto_alex}" alt="Integrante 1" />
      <h2>Alex Bellucci</h2>
      <p>Desenvolvedor</p>
    </div>
    <!-- Bia -->
    <div>
      <img src="{foto_bia}" alt="Integrante 2" />
      <h2>Beatriz Guedes</h2>
      <p>Product Owner</p>
    </div>
    <!-- Gisele -->
    <div>
      <img src="{foto_gi}" alt="Integrante 3" />
      <h2>Gisele Moherdaui</h2>
      <p>Product Owner</p>
    </div>
    <!-- Lucas -->
    <div>
      <img src="{foto_lucas}" alt="Integrante 4" />
      <h2>Lucas Chiari</h2>
      <p>Especialista em Hardware</p>
    </div>
    <!-- Pedro -->
    <div>
      <img src="{foto_pedro}" alt="Integrante 5" />
      <h2>Pedro Brocaldi</h2>
      <p>Product Owner</p>
    </div>
  </div>
</div>
