<ul class="nav flex-column">
  <li class="nav-item">
    <a class="nav-link active" routerLink="/" routerLinkActive="active"
      >Página Inicial</a
    >
  </li>
  <li class="nav-item">
    <a class="nav-link" routerLink="/members" routerLinkActive="active"
      >Quem Somos</a
    >
  </li>
  <li class="nav-item">
    <a class="nav-link" routerLink="/about" routerLinkActive="active"
      >O que é a Print-it</a
    >
  </li>
  <li class="nav-item">
    <a class="nav-link" routerLink="/pitch" routerLinkActive="active">Pitch</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" routerLink="/gallery" routerLinkActive="active"
      >Galeria de Fotos</a
    >
  </li>
</ul>
